In [8]:
train_data = pd.read_excel("Data_Train.xlsx")

In [9]:
test_date = pd.read_excel("Test_set.xlsx")

In [10]:
test_date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2671 entries, 0 to 2670
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          2671 non-null   object
 1   Date_of_Journey  2671 non-null   object
 2   Source           2671 non-null   object
 3   Destination      2671 non-null   object
 4   Route            2671 non-null   object
 5   Dep_Time         2671 non-null   object
 6   Arrival_Time     2671 non-null   object
 7   Duration         2671 non-null   object
 8   Total_Stops      2671 non-null   object
 9   Additional_Info  2671 non-null   object
dtypes: object(10)
memory usage: 208.8+ KB

In [11]:
df = train_data.append(test_date)

/tmp/ipykernel_15499/2948618778.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = train_data.append(test_date)

In [12]:
df.isnull().sum()

Airline               0
Date_of_Journey       0
Source                0
Destination           0
Route                 1
Dep_Time              0
Arrival_Time          0
Duration              0
Total_Stops           1
Additional_Info       0
Price              2671
dtype: int64

In [13]:
df.drop(['Route'],axis = 1, inplace=True)

# Source  Destination  Additional_Info Airline

In [14]:
df[['Source', 'Destination', 'Additional_Info','Airline']] = df[['Source', 'Destination', 'Additional_Info',
    'Airline']].apply(lambda x: pd.factorize(x)[0])

# Total_Stops

In [15]:
df['Total_Stops']=df['Total_Stops'].map({'non-stop':0,'1 stop':1,'2 stops':2,'3 stops':3,'4 stops':4,'nan':1})

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  int64
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  int64
 3   Destination      13354 non-null  int64
 4   Dep_Time         13354 non-null  object
 5   Arrival_Time     13354 non-null  object
 6   Duration         13354 non-null  object
 7   Total_Stops      13353 non-null  float64
 8   Additional_Info  13354 non-null  int64
 9   Price            10683 non-null  float64
dtypes: float64(2), int64(4), object(4)
memory usage: 1.1+ MB

# Date_of_Journey

In [17]:
df['Date_of_Journey'].value_counts()

18/05/2019    633
6/06/2019     630
9/05/2019     628
12/06/2019    628
21/05/2019    615
9/06/2019     614
21/03/2019    516
15/05/2019    511
27/05/2019    447
24/06/2019    436
15/06/2019    433
1/06/2019     430
27/06/2019    430
3/06/2019     425
6/03/2019     405
24/03/2019    401
27/03/2019    364
24/05/2019    357
6/05/2019     355
1/05/2019     339
1/04/2019     335
12/05/2019    327
3/03/2019     280
9/03/2019     255
18/03/2019    197
15/03/2019    195
01/03/2019    186
12/03/2019    185
9/04/2019     149
3/04/2019     138
21/06/2019    133
18/06/2019    127
03/03/2019    123
09/03/2019    123
06/03/2019    123
3/05/2019     117
6/04/2019     114
24/04/2019    113
15/04/2019    112
27/04/2019    109
21/04/2019    104
18/04/2019     79
12/04/2019     74
1/03/2019      59
Name: Date_of_Journey, dtype: int64

In [18]:
df['Date_of_Journey'].str.split('/').str[0]

0       24
1        1
2        9
3       12
4       01
        ..
2666     6
2667    27
2668     6
2669     6
2670    15
Name: Date_of_Journey, Length: 13354, dtype: object

In [19]:
df['Date']=df['Date_of_Journey'].str.split('/').str[0]
df['Month']=df['Date_of_Journey'].str.split('/').str[1]
df['Year']=df['Date_of_Journey'].str.split('/').str[2]
df.drop(['Date_of_Journey'],axis = 1, inplace=True)

In [20]:
df[['Date','Month','Year']] = df[['Date','Month','Year']].apply(lambda x: x.astype(int))

# Dep_Time

In [21]:
df.Dep_Time.value_counts()

18:55    288
17:00    275
10:00    265
07:05    240
07:10    239
        ...
22:25      1
12:05      1
21:40      1
03:00      1
22:30      1
Name: Dep_Time, Length: 223, dtype: int64

In [22]:
df['Dep_hour']=df['Dep_Time'].str.split(':').str[0]
df['Dep_min']=df['Dep_Time'].str.split(':').str[1]

df.drop(['Dep_Time'],axis = 1, inplace=True)

df[['Dep_hour','Dep_min']] = df[['Dep_hour','Dep_min']] .apply(lambda x: x.astype(int))

# Arrival_Time

In [23]:
df.Arrival_Time.value_counts()

19:00           536
21:00           466
19:15           434
16:10           185
12:35           159
               ...
13:15 22 May      1
08:50 07 Mar      1
06:50 28 Apr      1
00:25 22 Jun      1
07:45 13 May      1
Name: Arrival_Time, Length: 1451, dtype: int64

In [24]:
df['Arrival_Time']=df['Arrival_Time'].str.split(' ').str[0]

In [25]:
df.Arrival_Time.value_counts()

19:00    780
19:15    732
04:25    719
12:35    533
21:00    466
        ...
13:10      1
11:15      1
03:40      1
16:00      1
20:10      1
Name: Arrival_Time, Length: 223, dtype: int64

In [26]:
df['Arrival_hour']=df['Arrival_Time'].str.split(':').str[0]
df['Arrival_min']=df['Arrival_Time'].str.split(':').str[1]

df.drop(['Arrival_Time'],axis = 1, inplace=True)

df[['Arrival_hour','Arrival_min']] = df[['Arrival_hour','Arrival_min']] .apply(lambda x: x.astype(int))

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  int64
 1   Source           13354 non-null  int64
 2   Destination      13354 non-null  int64
 3   Duration         13354 non-null  object
 4   Total_Stops      13353 non-null  float64
 5   Additional_Info  13354 non-null  int64
 6   Price            10683 non-null  float64
 7   Date             13354 non-null  int64
 8   Month            13354 non-null  int64
 9   Year             13354 non-null  int64
 10  Dep_hour         13354 non-null  int64
 11  Dep_min          13354 non-null  int64
 12  Arrival_hour     13354 non-null  int64
 13  Arrival_min      13354 non-null  int64
dtypes: float64(2), int64(11), object(1)
memory usage: 1.5+ MB

# Duration

In [28]:
df.Duration.value_counts()

2h 50m     672
1h 30m     493
2h 45m     432
2h 55m     418
2h 35m     399
          ...
29h 10m      1
32h 55m      1
31h 30m      1
35h 20m      1
32h 25m      1
Name: Duration, Length: 374, dtype: int64

In [29]:
df['duration_hour']=df['Duration'].str.split(' ').str[0].str.split('h').str[0]

In [30]:
df[df['duration_hour']=='5m']

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Dep_hour,Dep_min,Arrival_hour,Arrival_min,duration_hour
6474,1,4,5,5m,2.0,0,17327.0,6,3,2019,16,50,16,55,5m
2660,1,4,5,5m,2.0,0,NaN,12,3,2019,16,50,16,55,5m

In [31]:
df.drop(6474,axis=0,inplace=True)
df.drop(2660,axis=0,inplace=True)
df['duration_hour']=df['duration_hour'].astype('int')
df.drop('Duration',axis=1,inplace=True)

In [32]:
df.head()

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Date,Month,Year,Dep_hour,Dep_min,Arrival_hour,Arrival_min,duration_hour
0,0,0,0,0.0,0,3897.0,24,3,2019,22,20,1,10,2
1,1,1,1,2.0,0,7662.0,1,5,2019,5,50,13,15,7
2,2,2,2,2.0,0,13882.0,9,6,2019,9,25,4,25,19
3,0,1,1,1.0,0,6218.0,12,5,2019,18,5,23,30,5
4,0,0,0,1.0,0,13302.0,1,3,2019,16,50,21,35,4

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13351 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13351 non-null  int64
 1   Source           13351 non-null  int64
 2   Destination      13351 non-null  int64
 3   Total_Stops      13350 non-null  float64
 4   Additional_Info  13351 non-null  int64
 5   Price            10681 non-null  float64
 6   Date             13351 non-null  int64
 7   Month            13351 non-null  int64
 8   Year             13351 non-null  int64
 9   Dep_hour         13351 non-null  int64
 10  Dep_min          13351 non-null  int64
 11  Arrival_hour     13351 non-null  int64
 12  Arrival_min      13351 non-null  int64
 13  duration_hour    13351 non-null  int64
dtypes: float64(2), int64(12)
memory usage: 1.5 MB